@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-container {
    @apply pl-4 py-2;
  }

  .main-content {
    @apply pl-2 md:pl-20 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .card {
    @apply flex w-full h-24 lg:w-36 lg:h-56 xl:w-60 xl:h-96 overflow-hidden rounded-3xl bg-secondary border-2 border-primary-light cursor-pointer relative;
  }

  .card__description {
    @apply flex flex-col bg-secondary md:bg-opacity-90 md:bottom-0 h-full md:h-auto w-full text-center py-4 px-2 blurry md:absolute;
  }

  .onHoverExploreBtn {
    @apply hidden md:flex md:justify-center md:items-center absolute w-16 h-16 invisible rounded-full left-1/2 transform bottom-1/2 bg-primary-light flex-center -translate-x-48;
  }

  .btn {
    @apply rounded-full select-none transition-all duration-300 ease-out focus:outline-none bg-primary-light text-center;
  }

  .mini-card {
    @apply w-80 h-44 rounded overflow-hidden cursor-pointer relative;
  }

  .mini-card-onhover {
    @apply absolute inset-0 bg-black flex-center;
  }
}

/* Had to do this cuz tailwind does not support calc which i need */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(56, 58, 60);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(24, 22, 22);
}

.blurry {
  backdrop-filter: blur(5px);
}

.card:hover > .onHoverExploreBtn {
  visibility: visible;
  transform: translateX(-50%);
}
