@import 'var';
@import 'reset';

body {
  background-color: $bg-primary;
}
.app {
}

.container {
  padding: 1.5rem 2rem;
}

.content {
  margin-left: $sidebar-width;
  width: calc(100vh - $sidebar-width);

  @media (max-width: 375px) {
    margin-left: 0;
    width: 100%;
  }
}

@import '../Loader/loader.style.scss';

@import '../Home/home.styles.scss';
@import '../Sidebar/sidebar.styles.scss';
@import '../Categories/categories.style.scss';
@import '../Cards/card.styles.scss';
@import '../MovieAbout/movie_about.style.scss';
