.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  background-color: $bg-secondary;
  height: 100%;

  display: flex;
  justify-content: center;

  &__list {
    margin-top: 0.7rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-bottom: 1rem;
    border: 2px solid $bg-primary;
    border-radius: 45%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s linear;
    cursor: pointer;

    svg {
      color: $bg-primary;
    }

    &-active {
      border: 2px solid $orange;
      background-color: $orange;
      svg {
        color: $white;
      }
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__logo {
    margin-bottom: 2rem;
    height: 55px;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .sidebar {
    display: none;
  }
}
